*{
	margin: 0px;
	padding: 0px;
	font-family: montserrat;
}
#app{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.cleanLink{
	color: #fff;
	text-decoration: none;
}
input[type='number']{
	appearance: textfield;
}
input[type='number']:focus,
input[type='number']:hover {
	appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.Layout{	
	background-color: black;
	color: #fff;
	display: flex;
	flex: 1;
	padding: 5% 0 5% 5%;
    justify-content: space-between;
}
.branding{
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
#menuBtn{
	cursor: pointer;
}
.navbar{
	display: flex;
	/* background-color: blueviolet; */
	background-color: #8667F0;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	color: #fff;
}
.leftSide{
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
}
.leftSide h1{
	margin-bottom: 30px;
}
.rightSide{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 45%;
}
.infoCalculator{
	margin-bottom: 20px;
}
.infoCalculator p{
	color: #c4c4c4;
	font-size: 0.8rem;
	margin-bottom: 20px;
}
.subtitleCalculator{
	margin-bottom: 10px;	
}
.titleRadios{
	margin-bottom: 15px;
}
.rowForm{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	margin-bottom: 20px;
}
.rowForm label{
	margin-bottom: 5px;
	color:white;
}
.rowForm input{
	border-radius: 15px;
	padding: 7px 5px;
	background-color: transparent;
	outline: none;
	border: solid 1px grey;
	color: white;
}
.rowRadios{
	display: flex;
	margin-bottom: 20px;
}
.radiosContainer{
	display: flex;
	align-items: center;
	margin-right: 25px;
}
.radiosContainer input{
	margin-right: 8px;
}
.radiosContainer input[type='radio']{
	accent-color: #8667F0;
}
.greyOut{
	opacity: 0.5;
	cursor: not-allowed !important;
}
.highlightedBtn{
	background-color: #8d64c4;
	color: white;
}
.btnStyle{
	padding: 8px 12px;
	border-radius: 20px;
	cursor: pointer;
}
.resultContainer{
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.resultContainer h2{
	margin-bottom: 10%;
}
.resultColorScale{
	height: 80px;
	width: 85%;
	background: rgb(0,158,223);
	background: linear-gradient(90deg, rgba(0,158,223,1) 0%, rgba(97,180,40,1) 33%, rgba(237,200,5,1) 66%, rgba(236,105,46,1) 100%);
	border-radius: 10px;
	display: flex;
}
.colorScaleDescription{
	width: 80%;
	display: flex;
	margin-left: -2%;
	margin-top: 2.5%;
	justify-content: space-evenly;
}
.colorSection{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.colorScalePercentage{
	font-size: 0.9rem;
	margin: 10px 0px;
}
.colorScaleName{
	font-size: 0.75rem;
}
.colorSquare{
	border: 1px solid #fff;
	border-radius: 5px;
	width: 0.7rem;
	height: 0.7rem;
}
.blueSquare{
	background-color: #009fe3;
}
.greenSquare{
	background-color: #009c3d;
}
.limeSquare{
	background-color: #98c21d;
}
.yellowSquare{
	background-color: #feca00;
}
.orangeSquare{
	background-color: #d76328;
}
.resultMarker{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	top: -3rem;
}
.resultMarker svg{
	margin-top: -1.5rem;
	font-size: 3rem;
}